* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  font-family: Arial, sans-serif;
  color: #e9edef;
  background: #111b21;
}

button,
input {
  font: inherit;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #374045;
  border-radius: 4px;
}
